* {
    text-align: center;
  }

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("./Premier-League-2016.jpg");
  background-size: 100%;
  background-position: 2px 2px 2px 2px;
  background-repeat: no-repeat;

}

h1 {
    color: #ffff;
}

input {

  margin: 0 auto;
  padding: 10px 15px;

}

.Jogo {

  margin: 0 0 15px;

}

.Jogo button {

  border: 10;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 5px 25px;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;

}

.Jogo button:hover {

  opacity: 0.6;
}

strong {
    color: red;
}

.page-logo {
    width: 120px;
    position:relative;
    left: 42%;
    top: -30px;
  }

.page-logo:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }

.alura-logo {
    width: 50px;
    position: absolute;
    top: 120px;
    right: 120px;
  }

.alura-logo:hover {

  -webkit-transform: scale(1.2);
  transform: scale(1.2);

}

table {

    border: 2px solid white;
    border-collapse: collapse;

  }

th,
tr,
td {

  border: solid 4px greenyellow;
  color:red;
  font-size: 22px;
  font-weight: bold;

}